<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Musicas Encontradas</h1>
    </header>
    {% for musica in dados.data%}
        <img src="{{musica.album.cover_medium}}" alt="{{musica.album.title}}">
        <h4>{{musica.artist.name}}- {{musica.title}}</h4>
        <audio controls>
            <source src="{{musica.preview}}" type="audio/mpeg">
        </audio>
        <br>
    {%endfor %}
</body>
</html>